body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:569px;
}
#u8275 {
  position:absolute;
  left:55px;
  top:47px;
  width:320px;
  height:569px;
}
#u8276 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8277 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  background:inherit;
  background-color:rgba(1, 109, 189, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8278 {
  position:absolute;
  left:98px;
  top:66px;
  width:165px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u8279 {
  position:absolute;
  left:2px;
  top:7px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8280 {
  position:absolute;
  left:185px;
  top:73px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u8281 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u8282 {
  position:absolute;
  left:107px;
  top:106px;
  width:71px;
  height:32px;
}
#u8283 {
  position:absolute;
  left:2px;
  top:8px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8284 {
  position:absolute;
  left:75px;
  top:109px;
  width:44px;
  height:29px;
}
#u8285 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u8286 {
  position:absolute;
  left:76px;
  top:113px;
  width:23px;
  height:14px;
  font-size:11px;
}
#u8287 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u8288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:197px;
  background:inherit;
  background-color:rgba(245, 245, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8288 {
  position:absolute;
  left:55px;
  top:138px;
  width:320px;
  height:197px;
}
#u8289 {
  position:absolute;
  left:2px;
  top:90px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:115px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8290 {
  position:absolute;
  left:128px;
  top:193px;
  width:153px;
  height:115px;
}
#u8291 {
  position:absolute;
  left:2px;
  top:50px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8292 {
  position:absolute;
  left:176px;
  top:324px;
  width:57px;
  height:16px;
}
#u8293 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
