body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:513px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:439px;
  height:476px;
}
#u1986 {
  position:absolute;
  left:74px;
  top:87px;
  width:439px;
  height:476px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:230px;
  width:435px;
  visibility:hidden;
  word-wrap:break-word;
}
