body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:476px;
  height:800px;
}
#u7189 {
  position:absolute;
  left:128px;
  top:11px;
  width:476px;
  height:800px;
}
#u7190 {
  position:absolute;
  left:2px;
  top:392px;
  width:472px;
  visibility:hidden;
  word-wrap:break-word;
}
