body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1113px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1832 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:36px;
  width:1210px;
  height:1113px;
  font-size:14px;
}
#u1833 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:548px;
  width:1206px;
  word-wrap:break-word;
}
#u1834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:1113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1834 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:36px;
  width:990px;
  height:1113px;
}
#u1835 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:548px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:989px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1837 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:102px;
  width:219px;
  height:989px;
  font-size:14px;
}
#u1838 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:486px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u1839 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:201px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1839_img.mouseOver {
}
#u1839.mouseOver {
}
#u1840 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u1841 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:291px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1841_img.mouseOver {
}
#u1841.mouseOver {
}
#u1842 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1843 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:643px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1843_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1843.mouseOver {
}
#u1844 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1845 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:246px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1845_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1845.mouseOver {
}
#u1846 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1847_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1847 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:336px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1847_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1847.mouseOver {
}
#u1848 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1849_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1849 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:597px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1849_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1849.mouseOver {
}
#u1850 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u1851 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:442px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1851_img.mouseOver {
}
#u1851.mouseOver {
}
#u1852 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u1853 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:688px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1853_img.mouseOver {
}
#u1853.mouseOver {
}
#u1854 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1855 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:258px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u1856 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u1857 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:700px;
  width:21px;
  height:22px;
  opacity:0.5;
}
#u1858 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u1859 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:306px;
  width:24px;
  height:20px;
  opacity:0.5;
}
#u1860 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u1861 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:457px;
  width:21px;
  height:16px;
  opacity:0.5;
  font-size:14px;
}
#u1862 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u1863 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:656px;
  width:21px;
  height:19px;
  opacity:0.5;
}
#u1864 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u1865 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:215px;
  width:26px;
  height:18px;
  opacity:0.5;
}
#u1866 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u1867 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:351px;
  width:20px;
  height:15px;
  opacity:0.5;
}
#u1868 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u1869 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:174px;
  width:29px;
  height:16px;
  opacity:0.3;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u1870 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1871_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u1871 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:416px;
  width:29px;
  height:16px;
  opacity:0.3;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u1872 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u1873 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:570px;
  width:29px;
  height:16px;
  opacity:0.3;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u1874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u1875 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:785px;
  width:144px;
  height:40px;
  opacity:0.5;
  color:#F2F2F2;
}
#u1875_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u1875.mouseOver {
  opacity:0.9;
}
#u1876 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  word-wrap:break-word;
}
#u1877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u1877 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:486px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1877_img.mouseOver {
}
#u1877.mouseOver {
}
#u1878 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1879_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u1879 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:499px;
  width:19px;
  height:18px;
  opacity:0.5;
}
#u1880 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u1881 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:610px;
  width:21px;
  height:22px;
  opacity:0.5;
}
#u1882 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u1883 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:103px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1883_img.mouseOver {
}
#u1883.mouseOver {
}
#u1884 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u1885 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:116px;
  width:22px;
  height:20px;
  opacity:0.5;
}
#u1886 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1888 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:27px;
  width:13px;
  height:12px;
}
#u1889 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:5px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1890 {
  border-width:0px;
  position:absolute;
  left:1206px;
  top:27px;
  width:13px;
  height:5px;
}
#u1891 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1892 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1893 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:20px;
  width:1210px;
  height:25px;
}
#u1894 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1895 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:28px;
  width:9px;
  height:9px;
}
#u1896 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1897 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:28px;
  width:9px;
  height:9px;
}
#u1898 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1899 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:28px;
  width:9px;
  height:9px;
}
#u1900 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1901 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:81px;
  width:65px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1903 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:110px;
  width:538px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:538px;
  white-space:nowrap;
}
#u1905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:66px;
}
#u1905 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:72px;
  width:9px;
  height:66px;
}
#u1906 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u1907 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:78px;
  width:34px;
  height:24px;
}
#u1908 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:47px;
}
#u1909 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:200px;
  width:9px;
  height:47px;
}
#u1910 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u1911 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:201px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u1911_img.mouseOver {
}
#u1911.mouseOver {
}
#u1912 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u1913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u1913 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:215px;
  width:26px;
  height:18px;
  opacity:0.5;
}
#u1914 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1915 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:182px;
  width:53px;
  height:18px;
}
#u1915_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1915.mouseOver {
}
#u1916 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u1917 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:211px;
  width:900px;
  height:1px;
}
#u1918 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919 {
  border-width:0px;
  position:absolute;
  left:587px;
  top:185px;
  width:66px;
  height:18px;
}
#u1919_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1919.mouseOver {
}
#u1920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u1921_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:1048px;
  height:5px;
}
#u1921 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:211px;
  width:1045px;
  height:2px;
}
#u1922 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-7px;
  width:1041px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:144px;
  height:10px;
}
#u1923 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:208px;
  width:139px;
  height:5px;
}
#u1924 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1925 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:185px;
  width:40px;
  height:19px;
}
#u1925_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1925.mouseOver {
}
#u1926 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u1927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:957px;
  height:608px;
}
#u1927 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:233px;
  width:957px;
  height:608px;
}
#u1928 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:296px;
  width:953px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1929 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:260px;
  width:86px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
