body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1250px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1055px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3907 {
  position:absolute;
  left:40px;
  top:36px;
  width:1210px;
  height:1055px;
  font-size:14px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:520px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:989px;
  background:inherit;
  background-color:rgba(0, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3910 {
  position:absolute;
  left:41px;
  top:102px;
  width:219px;
  height:989px;
  font-size:14px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:486px;
  width:215px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u3912 {
  position:absolute;
  left:41px;
  top:201px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3912_img.mouseOver {
}
#u3912.mouseOver {
}
#u3913 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u3914 {
  position:absolute;
  left:41px;
  top:291px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3914_img.mouseOver {
}
#u3914.mouseOver {
}
#u3915 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3916 {
  position:absolute;
  left:41px;
  top:643px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3916_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3916.mouseOver {
}
#u3917 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3918 {
  position:absolute;
  left:41px;
  top:246px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3918_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3918.mouseOver {
}
#u3919 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3920 {
  position:absolute;
  left:41px;
  top:336px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3920_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3920.mouseOver {
}
#u3921 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3922 {
  position:absolute;
  left:41px;
  top:597px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3922_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3922.mouseOver {
}
#u3923 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u3924 {
  position:absolute;
  left:41px;
  top:442px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3924_img.mouseOver {
}
#u3924.mouseOver {
}
#u3925 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u3926 {
  position:absolute;
  left:41px;
  top:688px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3926_img.mouseOver {
}
#u3926.mouseOver {
}
#u3927 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3928 {
  position:absolute;
  left:68px;
  top:258px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u3929 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u3930 {
  position:absolute;
  left:68px;
  top:700px;
  width:21px;
  height:22px;
  opacity:0.5;
}
#u3931 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u3932 {
  position:absolute;
  left:68px;
  top:306px;
  width:24px;
  height:20px;
  opacity:0.5;
}
#u3933 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u3934 {
  position:absolute;
  left:68px;
  top:457px;
  width:21px;
  height:16px;
  opacity:0.5;
  font-size:14px;
}
#u3935 {
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:19px;
}
#u3936 {
  position:absolute;
  left:70px;
  top:656px;
  width:21px;
  height:19px;
  opacity:0.5;
}
#u3937 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:18px;
}
#u3938 {
  position:absolute;
  left:68px;
  top:215px;
  width:26px;
  height:18px;
  opacity:0.5;
}
#u3939 {
  position:absolute;
  left:2px;
  top:1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u3940 {
  position:absolute;
  left:71px;
  top:351px;
  width:20px;
  height:15px;
  opacity:0.5;
}
#u3941 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3942 {
  position:absolute;
  left:66px;
  top:174px;
  width:29px;
  height:16px;
  opacity:0.3;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3943 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3944 {
  position:absolute;
  left:66px;
  top:416px;
  width:29px;
  height:16px;
  opacity:0.3;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3945 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3946 {
  position:absolute;
  left:66px;
  top:570px;
  width:29px;
  height:16px;
  opacity:0.3;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#E4E4E4;
}
#u3947 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u3948 {
  position:absolute;
  left:79px;
  top:785px;
  width:144px;
  height:40px;
  opacity:0.5;
  color:#F2F2F2;
}
#u3948_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:40px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#F2F2F2;
}
#u3948.mouseOver {
  opacity:0.9;
}
#u3949 {
  position:absolute;
  left:2px;
  top:11px;
  width:140px;
  word-wrap:break-word;
}
#u3950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u3950 {
  position:absolute;
  left:41px;
  top:486px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3950_img.mouseOver {
}
#u3950.mouseOver {
}
#u3951 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u3952 {
  position:absolute;
  left:69px;
  top:499px;
  width:19px;
  height:18px;
  opacity:0.5;
}
#u3953 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u3954 {
  position:absolute;
  left:70px;
  top:610px;
  width:21px;
  height:22px;
  opacity:0.5;
}
#u3955 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
}
#u3956 {
  position:absolute;
  left:41px;
  top:103px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3956_img.mouseOver {
}
#u3956.mouseOver {
}
#u3957 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u3958 {
  position:absolute;
  left:70px;
  top:116px;
  width:22px;
  height:20px;
  opacity:0.5;
}
#u3959 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:47px;
}
#u3960 {
  position:absolute;
  left:40px;
  top:245px;
  width:9px;
  height:47px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:16px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3962 {
  position:absolute;
  left:41px;
  top:246px;
  width:219px;
  height:45px;
  opacity:0.6;
  font-size:16px;
  color:#FFFFFF;
}
#u3962_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:45px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3962.mouseOver {
}
#u3963 {
  position:absolute;
  left:65px;
  top:12px;
  width:154px;
  word-wrap:break-word;
}
#u3964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3964 {
  position:absolute;
  left:68px;
  top:258px;
  width:24px;
  height:24px;
  opacity:0.5;
}
#u3965 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:990px;
  height:1055px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3966 {
  position:absolute;
  left:260px;
  top:36px;
  width:990px;
  height:1055px;
}
#u3967 {
  position:absolute;
  left:2px;
  top:520px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u3968 {
  position:absolute;
  left:303px;
  top:211px;
  width:900px;
  height:1px;
}
#u3969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:993px;
  height:5px;
}
#u3970 {
  position:absolute;
  left:260px;
  top:211px;
  width:990px;
  height:2px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:-7px;
  width:986px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3972 {
  position:absolute;
  left:303px;
  top:244px;
  width:900px;
  height:59px;
  font-size:16px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:22px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:12px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3975 {
  position:absolute;
  left:1206px;
  top:27px;
  width:13px;
  height:12px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:5px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977 {
  position:absolute;
  left:1206px;
  top:27px;
  width:13px;
  height:5px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:-6px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:25px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3980 {
  position:absolute;
  left:40px;
  top:20px;
  width:1210px;
  height:25px;
}
#u3981 {
  position:absolute;
  left:2px;
  top:4px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3982 {
  position:absolute;
  left:53px;
  top:28px;
  width:9px;
  height:9px;
}
#u3983 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3984 {
  position:absolute;
  left:67px;
  top:28px;
  width:9px;
  height:9px;
}
#u3985 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3986 {
  position:absolute;
  left:81px;
  top:28px;
  width:9px;
  height:9px;
}
#u3987 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:38px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3988 {
  position:absolute;
  left:303px;
  top:302px;
  width:900px;
  height:38px;
  font-size:16px;
}
#u3989 {
  position:absolute;
  left:2px;
  top:11px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3990 {
  position:absolute;
  left:333px;
  top:313px;
  width:57px;
  height:16px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3992 {
  position:absolute;
  left:906px;
  top:257px;
  width:282px;
  height:34px;
}
#u3992_input {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:34px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u3993 {
  position:absolute;
  left:1160px;
  top:265px;
  width:18px;
  height:18px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:333px;
  top:313px;
  width:57px;
  height:16px;
}
#u3996 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997 {
  position:absolute;
  left:303px;
  top:182px;
  width:53px;
  height:16px;
}
#u3997_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3997.mouseOver {
}
#u3998 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999 {
  position:absolute;
  left:451px;
  top:182px;
  width:53px;
  height:16px;
}
#u3999_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3999.mouseOver {
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u4001_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:144px;
  height:10px;
}
#u4001 {
  position:absolute;
  left:408px;
  top:208px;
  width:139px;
  height:5px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:-6px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4003 {
  position:absolute;
  left:482px;
  top:264px;
  width:65px;
  height:19px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4003_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u4003.mouseOver {
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4005 {
  position:absolute;
  left:357px;
  top:264px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u4005_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u4005.mouseOver {
}
#u4006 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u4007 {
  position:absolute;
  left:458px;
  top:266px;
  width:19px;
  height:17px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4009 {
  position:absolute;
  left:303px;
  top:339px;
  width:900px;
  height:1px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4011 {
  position:absolute;
  left:346px;
  top:359px;
  width:191px;
  height:16px;
  font-size:14px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4013 {
  position:absolute;
  left:310px;
  top:354px;
  width:25px;
  height:25px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4015 {
  position:absolute;
  left:773px;
  top:359px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4016 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4017 {
  position:absolute;
  left:1087px;
  top:352px;
  width:83px;
  height:30px;
}
#u4018 {
  position:absolute;
  left:12px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4019 {
  position:absolute;
  left:1099px;
  top:360px;
  width:15px;
  height:15px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4021 {
  position:absolute;
  left:303px;
  top:447px;
  width:900px;
  height:1px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4023 {
  position:absolute;
  left:347px;
  top:412px;
  width:190px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  white-space:nowrap;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4025 {
  position:absolute;
  left:773px;
  top:412px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4027 {
  position:absolute;
  left:347px;
  top:469px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4028 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4029 {
  position:absolute;
  left:773px;
  top:469px;
  width:141px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4030 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4031 {
  position:absolute;
  left:310px;
  top:464px;
  width:25px;
  height:25px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4033 {
  position:absolute;
  left:310px;
  top:408px;
  width:25px;
  height:25px;
}
#u4034 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4035 {
  position:absolute;
  left:303px;
  top:505px;
  width:900px;
  height:1px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  position:absolute;
  left:1094px;
  top:469px;
  width:57px;
  height:16px;
}
#u4038 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4039 {
  position:absolute;
  left:1094px;
  top:412px;
  width:57px;
  height:16px;
}
#u4040 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4041 {
  position:absolute;
  left:303px;
  top:393px;
  width:900px;
  height:1px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:-8px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  position:absolute;
  left:773px;
  top:313px;
  width:57px;
  height:16px;
}
#u4044 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4045 {
  position:absolute;
  left:1001px;
  top:313px;
  width:29px;
  height:16px;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4047 {
  position:absolute;
  left:660px;
  top:313px;
  width:29px;
  height:16px;
}
#u4048 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4049 {
  position:absolute;
  left:660px;
  top:355px;
  width:51px;
  height:27px;
}
#u4050 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4051 {
  position:absolute;
  left:660px;
  top:409px;
  width:51px;
  height:27px;
}
#u4052 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u4053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4053 {
  position:absolute;
  left:660px;
  top:467px;
  width:51px;
  height:27px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4055 {
  position:absolute;
  left:1001px;
  top:351px;
  width:71px;
  height:30px;
}
#u4056 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4057 {
  position:absolute;
  left:1001px;
  top:407px;
  width:71px;
  height:30px;
}
#u4058 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4059 {
  position:absolute;
  left:1001px;
  top:465px;
  width:71px;
  height:30px;
}
#u4060 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1210px;
  height:1300px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4062 {
  position:absolute;
  left:40px;
  top:20px;
  width:1210px;
  height:1300px;
  opacity:0.5;
}
#u4063 {
  position:absolute;
  left:2px;
  top:642px;
  width:1206px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:403px;
}
#u4064 {
  position:absolute;
  left:420px;
  top:113px;
  width:434px;
  height:403px;
}
#u4065 {
  position:absolute;
  left:2px;
  top:194px;
  width:430px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:403px;
}
#u4066 {
  position:absolute;
  left:470px;
  top:113px;
  width:442px;
  height:403px;
}
#u4067 {
  position:absolute;
  left:2px;
  top:194px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4069 {
  position:absolute;
  left:523px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4070 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  text-align:center;
}
#u4071 {
  position:absolute;
  left:491px;
  top:476px;
  width:23px;
  height:16px;
  color:#FFFFFF;
  text-align:center;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4073 {
  position:absolute;
  left:556px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4074 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4075 {
  position:absolute;
  left:593px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4076 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4077 {
  position:absolute;
  left:626px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4078 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4079 {
  position:absolute;
  left:659px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4080 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4081 {
  position:absolute;
  left:692px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4082 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4083 {
  position:absolute;
  left:725px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4085 {
  position:absolute;
  left:758px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4086 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4087 {
  position:absolute;
  left:791px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4088 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u4089 {
  position:absolute;
  left:824px;
  top:476px;
  width:23px;
  height:16px;
  text-align:center;
}
#u4090 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u4091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:191px;
}
#u4091 {
  position:absolute;
  left:507px;
  top:173px;
  width:300px;
  height:191px;
}
#u4092 {
  position:absolute;
  left:2px;
  top:88px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4093 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  height:8px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4094 {
  position:absolute;
  left:540px;
  top:378px;
  width:267px;
  height:8px;
}
#u4095 {
  position:absolute;
  left:2px;
  top:-4px;
  width:263px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:8px;
  background:inherit;
  background-color:rgba(102, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4096 {
  position:absolute;
  left:540px;
  top:378px;
  width:76px;
  height:8px;
}
#u4097 {
  position:absolute;
  left:2px;
  top:-4px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4098 {
  position:absolute;
  left:504px;
  top:378px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4099 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
  background:inherit;
  background-color:rgba(51, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4100 {
  position:absolute;
  left:516px;
  top:378px;
  width:15px;
  height:8px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u4101 {
  position:absolute;
  left:2px;
  top:-4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
  color:#999999;
}
#u4102 {
  position:absolute;
  left:451px;
  top:407px;
  width:430px;
  height:32px;
  font-size:13px;
  color:#999999;
}
#u4103 {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  white-space:nowrap;
}
#u4104 {
  position:absolute;
  left:836px;
  top:83px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u4105 {
  position:absolute;
  left:857px;
  top:284px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4106 {
  position:absolute;
  left:6px;
  top:-8px;
  width:19px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:10px 8.5px;
  -ms-transform-origin:10px 8.5px;
  -moz-transform-origin:10px 8.5px;
  -webkit-transform-origin:10px 8.5px;
}
#u4107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u4107 {
  position:absolute;
  left:857px;
  top:308px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4108 {
  position:absolute;
  left:6px;
  top:-8px;
  width:19px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:10px 8.5px;
  -ms-transform-origin:10px 8.5px;
  -moz-transform-origin:10px 8.5px;
  -webkit-transform-origin:10px 8.5px;
}
#u4109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u4109 {
  position:absolute;
  left:441px;
  top:308px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4110 {
  position:absolute;
  left:6px;
  top:-8px;
  width:19px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:10px 8.5px;
  -ms-transform-origin:10px 8.5px;
  -moz-transform-origin:10px 8.5px;
  -webkit-transform-origin:10px 8.5px;
}
#u4111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u4111 {
  position:absolute;
  left:442px;
  top:285px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4112 {
  position:absolute;
  left:6px;
  top:-8px;
  width:19px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:10px 8.5px;
  -ms-transform-origin:10px 8.5px;
  -moz-transform-origin:10px 8.5px;
  -webkit-transform-origin:10px 8.5px;
}
#u4113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u4113 {
  position:absolute;
  left:331px;
  top:265px;
  width:20px;
  height:18px;
}
#u4114 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u4115 {
  position:absolute;
  left:857px;
  top:284px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4116 {
  position:absolute;
  left:6px;
  top:-8px;
  width:19px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:10px 8.5px;
  -ms-transform-origin:10px 8.5px;
  -moz-transform-origin:10px 8.5px;
  -webkit-transform-origin:10px 8.5px;
}
#u4117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u4117 {
  position:absolute;
  left:857px;
  top:308px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4118 {
  position:absolute;
  left:6px;
  top:-8px;
  width:19px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:10px 8.5px;
  -ms-transform-origin:10px 8.5px;
  -moz-transform-origin:10px 8.5px;
  -webkit-transform-origin:10px 8.5px;
}
#u4119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u4119 {
  position:absolute;
  left:441px;
  top:308px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u4120 {
  position:absolute;
  left:6px;
  top:-8px;
  width:19px;
  visibility:hidden;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
  word-wrap:break-word;
  transform-origin:10px 8.5px;
  -ms-transform-origin:10px 8.5px;
  -moz-transform-origin:10px 8.5px;
  -webkit-transform-origin:10px 8.5px;
}
#u4121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:2px;
}
#u4121 {
  position:absolute;
  left:442px;
  top:285px;
  width:32px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u4122 {
  position:absolute;
  left:6px;
  top:-8px;
  width:19px;
  visibility:hidden;
  -webkit-transform:rotate(-315deg);
  -moz-transform:rotate(-315deg);
  -ms-transform:rotate(-315deg);
  transform:rotate(-315deg);
  word-wrap:break-word;
  transform-origin:10px 8.5px;
  -ms-transform-origin:10px 8.5px;
  -moz-transform-origin:10px 8.5px;
  -webkit-transform-origin:10px 8.5px;
}
#u4123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4123 {
  position:absolute;
  left:369px;
  top:80px;
  width:65px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4124 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u4125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4125 {
  position:absolute;
  left:325px;
  top:110px;
  width:417px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4126 {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  white-space:nowrap;
}
#u4127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:66px;
}
#u4127 {
  position:absolute;
  left:303px;
  top:72px;
  width:9px;
  height:66px;
}
#u4128 {
  position:absolute;
  left:2px;
  top:25px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u4129 {
  position:absolute;
  left:325px;
  top:71px;
  width:34px;
  height:34px;
}
#u4130 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
