body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:871px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:615px;
}
#u7672 {
  position:absolute;
  left:42px;
  top:31px;
  width:346px;
  height:615px;
}
#u7673 {
  position:absolute;
  left:2px;
  top:300px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:306px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7674 {
  position:absolute;
  left:43px;
  top:172px;
  width:344px;
  height:306px;
}
#u7675 {
  position:absolute;
  left:2px;
  top:145px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:96px;
}
#u7676 {
  position:absolute;
  left:42px;
  top:396px;
  width:346px;
  height:96px;
}
#u7677 {
  position:absolute;
  left:2px;
  top:40px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:131px;
}
#u7678 {
  position:absolute;
  left:42px;
  top:244px;
  width:346px;
  height:131px;
}
#u7679 {
  position:absolute;
  left:2px;
  top:58px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7680_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:99px;
}
#u7680 {
  position:absolute;
  left:42px;
  top:230px;
  width:346px;
  height:99px;
}
#u7681 {
  position:absolute;
  left:2px;
  top:42px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7682 {
  position:absolute;
  left:107px;
  top:296px;
  width:74px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7683 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u7684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7684 {
  position:absolute;
  left:107px;
  top:341px;
  width:74px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7685 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u7686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7686 {
  position:absolute;
  left:107px;
  top:250px;
  width:74px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7687 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u7688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7688 {
  position:absolute;
  left:43px;
  top:190px;
  width:344px;
  height:47px;
}
#u7689 {
  position:absolute;
  left:2px;
  top:16px;
  width:340px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7690 {
  position:absolute;
  left:107px;
  top:204px;
  width:74px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7691 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u7692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:21px;
}
#u7692 {
  position:absolute;
  left:62px;
  top:204px;
  width:22px;
  height:20px;
  opacity:0.6;
}
#u7693 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7694 {
  position:absolute;
  left:376px;
  top:332px;
  width:11px;
  height:39px;
}
#u7695 {
  position:absolute;
  left:2px;
  top:12px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7696 {
  position:absolute;
  left:387px;
  top:352px;
  width:0px;
  height:0px;
}
#u7696_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u7696_seg1 {
  position:absolute;
  left:58px;
  top:-4px;
  width:8px;
  height:40px;
}
#u7696_seg2 {
  position:absolute;
  left:58px;
  top:28px;
  width:58px;
  height:8px;
}
#u7696_seg3 {
  position:absolute;
  left:101px;
  top:22px;
  width:20px;
  height:20px;
}
#u7697 {
  position:absolute;
  left:12px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7698 {
  position:absolute;
  left:355px;
  top:202px;
  width:20px;
  height:20px;
}
#u7699 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7700 {
  position:absolute;
  left:376px;
  top:193px;
  width:11px;
  height:39px;
}
#u7701 {
  position:absolute;
  left:2px;
  top:12px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u7702 {
  position:absolute;
  left:267px;
  top:117px;
  width:85px;
  height:20px;
  color:#999999;
}
#u7703 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 110, 189, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7704 {
  position:absolute;
  left:304px;
  top:50px;
  width:83px;
  height:38px;
}
#u7705 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:615px;
}
#u7706 {
  position:absolute;
  left:525px;
  top:56px;
  width:346px;
  height:615px;
}
#u7707 {
  position:absolute;
  left:2px;
  top:300px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7708 {
  position:absolute;
  left:534px;
  top:315px;
  width:329px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7709 {
  position:absolute;
  left:2px;
  top:12px;
  width:325px;
  word-wrap:break-word;
}
#u7710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:26px;
}
#u7710 {
  position:absolute;
  left:647px;
  top:324px;
  width:21px;
  height:26px;
}
#u7711 {
  position:absolute;
  left:2px;
  top:5px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:38px;
  background:inherit;
  background-color:rgba(0, 110, 189, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7712 {
  position:absolute;
  left:657px;
  top:123px;
  width:83px;
  height:38px;
}
#u7713 {
  position:absolute;
  left:2px;
  top:11px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u7714 {
  position:absolute;
  left:737px;
  top:179px;
  width:15px;
  height:16px;
  color:#CCCCCC;
}
#u7715 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u7716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:329px;
  height:43px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7716 {
  position:absolute;
  left:534px;
  top:617px;
  width:329px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7717 {
  position:absolute;
  left:2px;
  top:12px;
  width:325px;
  word-wrap:break-word;
}
#u7718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
}
#u7718 {
  position:absolute;
  left:659px;
  top:84px;
  width:79px;
  height:29px;
}
#u7719 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 110, 189, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7720 {
  position:absolute;
  left:545px;
  top:81px;
  width:151px;
  height:36px;
}
#u7721 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
