body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:959px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7087 {
  position:absolute;
  left:91px;
  top:46px;
  width:320px;
  height:544px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7088 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7089 {
  position:absolute;
  left:90px;
  top:56px;
  width:320px;
  height:53px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7090 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7091 {
  position:absolute;
  left:90px;
  top:46px;
  width:320px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7092 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u7093 {
  position:absolute;
  left:230px;
  top:76px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u7094 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7095 {
  position:absolute;
  left:111px;
  top:80px;
  width:9px;
  height:15px;
}
#u7096 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7097 {
  position:absolute;
  left:121px;
  top:211px;
  width:259px;
  height:1px;
}
#u7098 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7099 {
  position:absolute;
  left:136px;
  top:185px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7100 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u7101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7101 {
  position:absolute;
  left:121px;
  top:174px;
  width:259px;
  height:1px;
}
#u7102 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7103 {
  position:absolute;
  left:121px;
  top:248px;
  width:259px;
  height:1px;
}
#u7104 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7105 {
  position:absolute;
  left:136px;
  top:222px;
  width:95px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u7106 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u7107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.4);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7107 {
  position:absolute;
  left:121px;
  top:321px;
  width:259px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7108 {
  position:absolute;
  left:2px;
  top:11px;
  width:255px;
  word-wrap:break-word;
}
#u7109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7109 {
  position:absolute;
  left:90px;
  top:46px;
  width:320px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7110 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u7111 {
  position:absolute;
  left:355px;
  top:228px;
  width:16px;
  height:10px;
}
#u7112 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7113 {
  position:absolute;
  left:448px;
  top:46px;
  width:320px;
  height:544px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7114 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7115 {
  position:absolute;
  left:447px;
  top:56px;
  width:320px;
  height:53px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7116 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7117 {
  position:absolute;
  left:447px;
  top:46px;
  width:320px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7118 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u7119 {
  position:absolute;
  left:587px;
  top:76px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u7120 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7121 {
  position:absolute;
  left:468px;
  top:80px;
  width:9px;
  height:15px;
}
#u7122 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7123 {
  position:absolute;
  left:478px;
  top:211px;
  width:259px;
  height:1px;
}
#u7124 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7125 {
  position:absolute;
  left:493px;
  top:185px;
  width:81px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7126 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7127 {
  position:absolute;
  left:478px;
  top:174px;
  width:259px;
  height:1px;
}
#u7128 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7129 {
  position:absolute;
  left:478px;
  top:248px;
  width:259px;
  height:1px;
}
#u7130 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7131_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7131 {
  position:absolute;
  left:493px;
  top:222px;
  width:49px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7132 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7133 {
  position:absolute;
  left:478px;
  top:321px;
  width:259px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7134 {
  position:absolute;
  left:2px;
  top:11px;
  width:255px;
  word-wrap:break-word;
}
#u7135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7135 {
  position:absolute;
  left:447px;
  top:46px;
  width:320px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7136 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u7137 {
  position:absolute;
  left:712px;
  top:228px;
  width:16px;
  height:10px;
}
#u7138 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u7139 {
  position:absolute;
  left:355px;
  top:191px;
  width:16px;
  height:10px;
}
#u7140 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u7141 {
  position:absolute;
  left:712px;
  top:191px;
  width:16px;
  height:10px;
}
#u7142 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7143 {
  position:absolute;
  left:89px;
  top:634px;
  width:320px;
  height:544px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7144 {
  position:absolute;
  left:2px;
  top:264px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7145 {
  position:absolute;
  left:89px;
  top:644px;
  width:320px;
  height:53px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u7146 {
  position:absolute;
  left:2px;
  top:18px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7147 {
  position:absolute;
  left:89px;
  top:634px;
  width:320px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7148 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u7149 {
  position:absolute;
  left:229px;
  top:664px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u7150 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u7151 {
  position:absolute;
  left:110px;
  top:668px;
  width:9px;
  height:15px;
}
#u7152 {
  position:absolute;
  left:2px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7153 {
  position:absolute;
  left:120px;
  top:799px;
  width:259px;
  height:1px;
}
#u7154 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7155 {
  position:absolute;
  left:135px;
  top:773px;
  width:81px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7156 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u7157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7157 {
  position:absolute;
  left:120px;
  top:762px;
  width:259px;
  height:1px;
}
#u7158 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:2px;
}
#u7159 {
  position:absolute;
  left:120px;
  top:836px;
  width:259px;
  height:1px;
}
#u7160 {
  position:absolute;
  left:2px;
  top:-8px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7161 {
  position:absolute;
  left:135px;
  top:810px;
  width:49px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7162 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u7163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7163 {
  position:absolute;
  left:120px;
  top:909px;
  width:259px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u7164 {
  position:absolute;
  left:2px;
  top:11px;
  width:255px;
  word-wrap:break-word;
}
#u7165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7165 {
  position:absolute;
  left:89px;
  top:634px;
  width:320px;
  height:20px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u7166 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u7167 {
  position:absolute;
  left:354px;
  top:816px;
  width:16px;
  height:10px;
}
#u7168 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:10px;
}
#u7169 {
  position:absolute;
  left:354px;
  top:779px;
  width:16px;
  height:10px;
}
#u7170 {
  position:absolute;
  left:2px;
  top:-3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7171 {
  position:absolute;
  left:737px;
  top:341px;
  width:0px;
  height:0px;
}
#u7171_seg0 {
  position:absolute;
  left:0px;
  top:-5px;
  width:24px;
  height:8px;
}
#u7171_seg1 {
  position:absolute;
  left:16px;
  top:-5px;
  width:8px;
  height:8px;
}
#u7171_seg2 {
  position:absolute;
  left:16px;
  top:-5px;
  width:56px;
  height:8px;
}
#u7171_seg3 {
  position:absolute;
  left:57px;
  top:-11px;
  width:20px;
  height:20px;
}
#u7172 {
  position:absolute;
  left:-14px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7173 {
  position:absolute;
  left:818px;
  top:331px;
  width:141px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333537;
}
#u7174 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u7175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.698039215686274);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7175 {
  position:absolute;
  left:195px;
  top:984px;
  width:91px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7176 {
  position:absolute;
  left:2px;
  top:6px;
  width:87px;
  word-wrap:break-word;
}
#u7177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7177 {
  position:absolute;
  left:255px;
  top:599px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7178 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7179 {
  position:absolute;
  left:234px;
  top:590px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u7179_seg0 {
  position:absolute;
  left:-6px;
  top:-4px;
  width:6px;
  height:8px;
}
#u7179_seg1 {
  position:absolute;
  left:-6px;
  top:-4px;
  width:8px;
  height:48px;
}
#u7179_seg2 {
  position:absolute;
  left:-12px;
  top:29px;
  width:20px;
  height:20px;
}
#u7180 {
  position:absolute;
  left:-52px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
