body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:532px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:486px;
  height:801px;
}
#u5726 {
  position:absolute;
  left:46px;
  top:29px;
  width:486px;
  height:801px;
}
#u5727 {
  position:absolute;
  left:2px;
  top:392px;
  width:482px;
  visibility:hidden;
  word-wrap:break-word;
}
